/* Move our main document below the menu */
.below_menu_container {
  padding-top: 50px;
}

.logo {
	display: block;
	margin: auto;
}

img {
	display: block;
	margin: left;
}

h2 {
	display: block;
	text-align: center;
	padding: 15px;
	color: orange;
}
